* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 100%;
  background-color: #000;
  color: #fff;
}

input {
  height: 28px;
  width: 100%;
  padding: 8px;
  background-color: #f3f3f3;
  border: none;
  border-radius: 6px;
}

button {
  width: 28px;
  margin-left: 10px;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
}

.container {
  margin: 0 auto;
  max-width: 2800px;
}
